<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link"> На главную</button>

  </div>
  <div class="info">
    <strong>тут Автор</strong>
    <small>20.20.20</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa saepe laborum velit. Inventore fugiat doloremque illo molestias, consectetur nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa saepe laborum velit. Inventore fugiat doloremque illo molestias, consectetur nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa saepe laborum velit. Inventore fugiat doloremque illo molestias, consectetur nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa saepe laborum velit. Inventore fugiat doloremque illo molestias, consectetur nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa saepe laborum velit. Inventore fugiat doloremque illo molestias, consectetur nostrum!</p>
  </div>
</div>
